@import 'colors';

$logo: (
    "width": 125px,
    "height": 125px
);

$navigation: (
    "width": 200px,
    "logo-margin-top": 50px,
    "logo-margin-bottom": 50px,
);

$footer: (
    "background-color": map-get($page-preference-colors, "secondary-1"),
    "color": map-get($page-preference-colors, "font-1"),
);
