@import '../../style/variables';
@import '../../style/colors';

$navigation-width: map_get($navigation, "width");

.app {
  margin-left: $navigation-width;
  background-color: map-get($page-preference-colors, "main-3");

  .container {
    min-height: 100vh;
    padding-top: 50px;
    @media screen and (min-width: 992px) {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}


