@import '../../style/variables';

$navigation-width: map_get($navigation, "width");

.app {
  margin-left: $navigation-width;

  .container {
    min-height: 100vh;
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}


