<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${page_title != null} ? ${page_title} : 'md pages'"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/css.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
</head>
<body>

<nav>
    <div class="nav-wrapper blue">
        <a href="/" class="brand-logo"><img src="favicon.ico"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" href="/admin">Admin panel</a></li>
            <li><a th:if="${#httpServletRequest.remoteUser != null}" href="/editor">Create new</a></li>
            <li><a th:href="${#httpServletRequest.remoteUser != null} ? @{/logout} : @{/login}"
                   th:text="${#httpServletRequest.remoteUser != null} ? ${'Logout'} : ${'Login'}"></a></li>
        </ul>
    </div>
</nav>

<script src="/js/jquery-3.2.1.min.js"></script>

<div class="main">
    <div layout:fragment="content"></div>
</div>

<script src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

</body>
</html>