<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${page_title != null} ? ${page_title} : 'mdPages'"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/css.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
</head>
<body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<ul id="slide-out" class="side-nav fixed">
    <li class="logo"><img src="/img/logo.png"/></li>
    <li>
        <div id="searchBox" class="valign-wrapper card">
            <input type="text" id="searchInput" class="searchBox" placeholder="Search"/>
            <a onclick="goToSearch()"><i class="material-icons">search</i></a>
        </div>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" th:inline="text"
                   th:if="${#httpServletRequest.remoteUser != null}">
                    [[${#httpServletRequest.remoteUser}]]<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><div class="divider"></div></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a th:if="${#httpServletRequest.remoteUser != null and @permissionService.hasPermission(#httpServletRequest.remoteUser, T(ovh.kocproz.markpages.Permission).ADMIN)}"
           href="/admin">Admin panel</a></li>
    <li><a th:if="${#httpServletRequest.remoteUser != null}" href="/edit">Create new</a></li>
    <li><a href="/login" th:if="${#httpServletRequest.remoteUser == null}">Login</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/list">List of pages</a></li>
    <li><a href="/files">List of files</a></li>

</ul>
<div>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons">menu</i></a>
</div>
<script>
    $(".button-collapse").sideNav();
</script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".dropdown-button").dropdown();
    });
    document.querySelector('#searchInput').addEventListener('keyup', function (e) {
        if (e.key === "Enter") {
            goToSearch()
        }
    });

    function goToSearch() {
        var query = document.querySelector('#searchInput').value;
        if (query.length > 2)
            window.location.href = '/search?query=' + query;
    }
</script>
<main>
    <div layout:fragment="content"></div>
</main>
</body>
</html>