@import '../../style/variables';
@import '../../style/mixins';
@import '../../style/colors';

.footer {
  clear: both;
  position: relative;
  @include colors($footer);

  padding: 25px 0;

  > .row {
    margin-left: 0;
    margin-right: 0;

    > * {
      display: flex;
      align-items: center;
    }
  }

  .center {
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      list-style: none;
      font-size: 15px;
      flex-flow: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin: 0 5px;
        color: darken(map-get($colors, "white"), 20%);

        &:first-child {
          color: map-get($colors, "white");
          font-weight: bold;
          opacity: 1;
          margin-left: 0;
          margin-right: 15px;
        }

        a {
          color: inherit;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .column {
      ul {
        padding-right: 40px;
      }
    }
    .center {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .row {
      > * {
        justify-content: center;
      }
    }
  }
}
