@import '../../style/variables';
@import '../../style/mixins';
@import '../../style/colors';

.footer {
  clear: both;
  position: relative;
  @include colors($footer);

  padding: 25px 0;

  > .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      list-style: none;
      font-size: 15px;

      li {
        margin: 0 5px;
        color: darken(map-get($colors, "white"), 20%);

        &:first-child {
          color: map-get($colors, "white");
          font-weight: bold;
          opacity: 1;
          margin-left: 0;
          margin-right: 15px;
        }

        a {
          color: inherit;
        }
      }
    }
  }
}
