//Color declaration
$general-lighter-1: #48c7c9;
$white-darker-1: #F2F2F2;

//Colors of elements
//body
$bodyBackgroundColor: #455a64;
$bodyFontColor: $white-darker-1;

//btn
$btnBackgroundColor: $general-lighter-1;
$btnBackgroundColorHover: $general-lighter-1;
$btnBackgroundColorFocus: $general-lighter-1;

//a
$aFontColor: $general-lighter-1;

//fancyhr
$fancyhrBackgroundColor: $general-lighter-1;

//mdtable
$mdtableFirstRowBackgroundColor: #2a363d;
$mdtableRowBackgroundColor: #37474F;
//mdtable>btn
$mdtableBtnFontColor: $white-darker-1;
$mdtableBtnBackgroundColor: $general-lighter-1;
//mdtable>a
$mdtableAFontColor: $general-lighter-1;

//mdcard
$mdcardBackgroundColor: #34434B;
//mdcard>input.btn
$mdcardInputBtnBackgroundColor: $general-lighter-1;
//mdcard>input.checkbox
$mdcardInputCheckboxColor: $general-lighter-1;

//usersPagination
$paginationLiActiveBackgroundColor: $general-lighter-1;
$paginationLiAFontColor: $white-darker-1;
//login-panel
$login-panelBackgroundColor: #34434B;

//inputCheckbox
$inputCheckBoxColor: $general-lighter-1;
$switchBackgroundColor: $general-lighter-1;
$switchFontColor: white;
//inputPassword
$inputPasswordFontColor: $general-lighter-1;
//inputText
$inputTextBorderBottomColor: $general-lighter-1;
$inputTextBoxShadowColor: $general-lighter-1;
$inputTextFontColor: $general-lighter-1;
//InputField/Prefix.active
$inputFieldFontColor: $general-lighter-1;

//sideNav
$side-navLogoBackgroundColor: #263238;
$side-navliBackgroundColor: #37474f;
$side-navFontColor: white;
//searchBox
$searchBoxInputFontColor: white;
$searchBoxIconFontColor: white;
//editor
$editorTabBorderRightActiveColor: #EE6E73;
$editorTabBorderRightHoverColor: #38C999;
$editorTabFontColor: #FFFFFF;
$editorLiBackgroundColor: #4A4C4C;
$editorTabCurrentTabBorderRightColor: #EE6E73;