//Color declaration
$general-lighter-1: #48c7c9;
$white-darker-1: #F2F2F2;

//Colors of elements
$body: (
        background-color: #455a64,
        color: #F2F2F2,
);

$btn: (
        background-color: #48c7c9,
        background-color-hover: #48c7c9,
        background-color-focus: #48c7c9,
);

$a: (
        color: #48c7c9,
);

$mdtable: (
        background-color: #37474F,
        first-row: (
                background-color: #2a363d,
        ),
        btn: (
                color: #F2F2F2,
                background-color: #48c7c9,
        )
);

$mdcard: (
        background-color: #34434B,
        input:(
                checkbox-color: #48c7c9,
                btn:(
                        background-color: #48c7c9,
                ),
        ),
);
$pagination: (
        li:(
                active:(
                        background-color: #48c7c9,
                        color: #F2f2f2,
                ),
        ),
);

$login-panel: (
        background-color: #34434B,
);
$input: (
        checkbox:(
                color: #48c7c9,
                background-color: #48c7c9,
        ),
        password:(
                color: #48c7c9,
        ),
        text:(
                border-bottom-color: #48c7c9,
                box-shadow-color: #48c7c9,
                color: #48c7c9,
        ),
        input-field:(
                color: #48c7c9,
        ),
        switch:(
                background-color: #48c7c9,
                color: white,
        ),
);

$side-nav: (
        color: white,
        logo:(
                background-color: #263238,
        ),
        li:(
                background-color: #37474f,
        ),
);

$searchBox: (
        color: white,
);

$editor: (
        tab:(
                color: #FFFFFF,
                border-right:(
                        color-hover: #38C999,
                ),
                current-tab:(
                        border-right-color: #EE6E73,
                ),
        ),
        li:(
                background-color: #4A4C4C,
        ),
);