//Color declaration
$mint-lighter-1: #38C999;
$mint-lighten-2: #4EBF99;
$mint-darker-1: #636666;
$mint-darker-2: #4A4C4C;
$mint-darker-3: #424444;
$grey-lighter-1: #757B7F;
$white-darker-1: #F2F2F2;

//Colors of elements
//body
$bodyBackgroundColor: $grey-lighter-1;
$bodyFontColor: $white-darker-1;

//btn
$btnBackgroundColor: $mint-lighter-1;
$btnBackgroundColorHover: $mint-lighter-1;
$btnBackgroundColorFocus: $mint-lighten-2;

//a
$aFontColor: $mint-lighter-1;

//fancyhr
$fancyhrBackgroundColor: $mint-lighter-1;

//mdwrapper
$mdwrapperBackgroundColor: $mint-darker-1;

//mdtable
$mdtableFirstRowBackgroundColor: $mint-darker-2;
$mdtableRowBackgroundColor: $mint-darker-1;
//mdtable>btn
$mdtableBtnFontColor: $white-darker-1;
$mdtableBtnBackgroundColor: $mint-lighter-1;
//mdtable>a
$mdtableAFontColor: $mint-lighter-1;

//mdcard
$mdcardBackgroundColor: $mint-darker-1;
//mdcard>input.btn
$mdcardInputBtnBackgroundColor: $mint-lighter-1;
//mdcard>input.checkbox
$mdcardInputCheckboxColor: $mint-lighter-1;

//pagination
$paginationLiActiveBackgroundColor: $mint-lighter-1;
$paginationLiAFontColor: $white-darker-1;

//mdselect-wrapper
$mdselect-wrapperCaretFontColor: $white-darker-1;
//mdselect-wrapperDropdown
$mdselect-wrapperSelectDropdownFontColor: $white-darker-1;
$mdselect-wrapperSelectDropdownBackgroundColor: $mint-darker-2;

//login-panel
$login-panelBackgroundColor: $mint-darker-1;

//inputCheckbox
$inputCheckBoxColor: $mint-lighter-1;
$switchBackgroundColor: $mint-lighter-1;
$switchFontColor: white;
//inputPassword
$inputPasswordFontColor: $mint-lighter-1;
//inputText
$inputTextBorderBottomColor: $mint-lighter-1;
$inputTextBoxShadowColor: $mint-lighter-1;
$inputTextFontColor: $mint-lighter-1;
//InputField/Prefix.active
$inputFieldFontColor: $mint-lighter-1;

//sideNav
$side-navLogoBackgroundColor: $mint-darker-2;
//searchBox
$searchBoxInputFontColor: #000;
$searchBoxIconFontColor: #000;
//editor
$editorTabBorderRightActiveColor: #EE6E73;
$editorTabBorderRightHoverColor: #38C999;
$editorTabFontColor: #FFFFFF;
$editorLiBackgroundColor: #4A4C4C;
$editorTabCurrentTabBorderRightColor: #EE6E73;