.tabs-vertical {
  position: fixed;
  z-index: 10;
  right: 0;
  top: calc(50% - 48px);
  .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    width: unset !important;

    li {
      width: unset !important;
      margin-left: unset !important;
      left: unset !important;
      right: unset !important;
      background-color: map-get(map-get($editor, li), background-color);
    }
  }

  .tab {
    width: 100%;
    a {
      color: map-get(map-get($editor, tab), color) !important;
      border-right: 3px solid map-get(map-get($editor, li), background-color);
    }
    .active {
      -moz-transition: border-color .5s ease;
      -o-transition: border-color .5s ease;
      -webkit-transition: border-color .5s ease;
      transition: border-color .5s ease;
      border-right: 3px solid map-get(map-get(map-get($editor, tab), current-tab), border-right-color);
    }

    :hover {
      border-right: 3px solid map-get(map-get(map-get($editor, tab), border-right), color-hover);
      a {
        width: 95%;
      }
    }
  }

  .indicator {
    display: none;
  }
}