.ace_gutter {
  padding-top: 25px;
}
.ace_scroller{
  margin-top: 25px;
}
.tabs-vertical {
  position: fixed;
  z-index: 10;
  right: 0;
  top: calc(50% - 48px);
  .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    width: unset!important;

    li{
      width: unset!important;
      margin-left: unset!important;
      left: unset!important;
      right: unset!important;
      background-color: $editorLiBackgroundColor;
    }
  }

  .tab {
    width: 100%;
    a{
      color: $editorTabFontColor!important;
      border-right: 3px solid $editorLiBackgroundColor;
    }
    .active {
      -moz-transition: border-color .5s ease;
      -o-transition: border-color .5s ease;
      -webkit-transition: border-color .5s ease;
      transition: border-color .5s ease;
      border-right: 3px solid $editorTabCurrentTabBorderRightColor;
    }

    :hover {
      border-right: 3px solid $editorTabBorderRightHoverColor;
      a{
        width: 95%;
      }
    }
  }

  .indicator {
    display: none;
  }
}