
.mdcard {
  background-color: map-get($mdcard,background-color);
  > form {
    > .row {
      > .input-field.col.m12 {
        min-height: 66px;
        width: 90%;
        > input.btn {
          background-color: map-get(map-get(map-get($mdcard,input),btn),background-color);
        }
      }
    }
  }
  > .card-image {
    margin: 0 auto;
    width: 30vw;
    min-width: 300px;
    max-width: 500px;
  }
  [type="checkbox"].filled-in:checked + label:after {
    $color: map-get(map-get($mdcard,input),checkbox-color);
    background-color: $color;
    border: $color;
  }
}