
.mdcard{
  &{
    @include mint-darker-1($background);
  }
  >form{
    >.row{
      >.input-field.col.m12{
        min-height: 66px;
        width:90%;
        >input.btn{
          background-color: #38C999;
        }
      }
    }
  }
  >.card-image{
    width:30vw;
    min-width:300px;
    max-width: 500px;
  }
}