[type="checkbox"]:checked + label::before {
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}
[type="checkbox"].filled-in:checked+label:after {
  background-color: $inputCheckBoxColor;
  border: $inputCheckBoxColor;
}
input[type=password]:not(.browser-default):focus:not([readonly]){
  box-shadow:0 1px 0 0 #38C999;
}
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: $inputPasswordFontColor;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color:$inputTextBorderBottomColor;
  box-shadow:0 1px 0 0 $inputTextBoxShadowColor;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: $inputTextFontColor;
}
.input-field .prefix.active {
  color: $inputFieldFontColor;
}
.input-field {
  height:64px;
}
.input-field .prefix ~ input {
  width: calc(100% - 6rem);
}
.switch {
  label input[type=checkbox]:checked+.lever {
    background-color: $switchBackgroundColor;
  }
}
.switch, .switch>label{
  color: $switchFontColor;
  p{
    display: inline;
  }
}