[type="checkbox"]:checked + label::before {
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}
[type="checkbox"].filled-in:checked+label:after {
  background-color: map-get(map-get($input,checkbox),background-color);
  border: map-get(map-get($input,checkbox),color);
}
input[type=password]:not(.browser-default):focus:not([readonly]){
  box-shadow:0 1px 0 0 map-get(map-get($input,password),box-shadow-color);
}
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: map-get(map-get($input,password),color);
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color:map-get(map-get($input,text),border-bottom-color);
  box-shadow:0 1px 0 0 map-get(map-get($input,text),box-shadow-color);
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: map-get(map-get($input,text),color);
}
input[type=text].valid:not(.browser-default), input[type=password].valid:not(.browser-default){
  border-bottom: 1px solid #48c7c9;
  -webkit-box-shadow: 0 1px 0 0 #48c7c9;
  box-shadow: 0 1px 0 0 #48c7c9;
}
.input-field .prefix.active {
  color: map-get(map-get($input,input-field),color);
}
.input-field {
  height:64px;
}
.input-field .prefix ~ input {
  width: calc(100% - 6rem);
}
.switch {
  label input[type=checkbox]:checked+.lever {
    background-color: map-get(map-get($input,switch),background-color);
  }
}
.switch, .switch>label{
  color: map-get(map-get($input,switch),color);
  p{
    display: inline;
  }
}