.mdselect-wrapper {
  >.select-wrapper {
    > .caret {
      color: $mdselect-wrapperCaretFontColor;
    }
    > .select-dropdown {
      > li {
        > span {
          color: $mdselect-wrapperSelectDropdownFontColor;
        }
        background-color: $mdselect-wrapperSelectDropdownBackgroundColor;
      }
      & {
        margin: 0 !important;
      }
    }
  }
}