.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
  background-color: $side-navliBackgroundColor;
}
.side-nav, .side-nav.fixed {
  background-color: $side-navliBackgroundColor;
  .logo {
    background-color: $side-navLogoBackgroundColor;
    padding: 32px;
    display: flex;
    a, img {
      height: 128px;
      margin-left: auto;
      margin-right: auto;
    }
    a:hover {
      background-color: inherit;
    }
  }
  .divider {
    margin-bottom: 8px;
    background-color: $side-navLogoBackgroundColor;
  }
  .collapsible-header{
    border-bottom: 1px solid $side-navLogoBackgroundColor;
  }
  .collapsible-body {
    li {
      a {
        padding: 0 23.5px 0 51px;
      }
    }
  }
  #searchBox {
    background-color: $side-navLogoBackgroundColor;
    > input {
      margin: 0 0 10px 0;
      height: 2rem;
      width: 300px;
    }
    padding-left: 32px;
    padding-right: 32px;
    input {
      color: $searchBoxInputFontColor;
    }
    a {
      color: $searchBoxIconFontColor;
    }
    i {
      cursor: pointer;
    }
  }
  ul, li {
    background-color: $side-navliBackgroundColor;
  }
  li {
    a {
      @include noselect;
      color: $side-navFontColor;
      i {
        color: $side-navFontColor;
      }
    }
  }

}