.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
  background-color: map-get(map-get($side-nav, li), background-color);
}

.side-nav, .side-nav.fixed {
  background-color: map-get(map-get($side-nav, li), background-color);
  .logo {
    background-color: map-get(map-get($side-nav, logo), background-color);
    padding: 32px;
    display: flex;
    a, img {
      height: 128px;
      margin-left: auto;
      margin-right: auto;
    }
    a:hover {
      background-color: inherit;
    }
  }
  .divider {
    margin-bottom: 8px;
    background-color: map-get(map-get($side-nav, logo), background-color);
  }
  .collapsible-header {
    border-bottom: 1px solid map-get(map-get($side-nav, logo), background-color);
  }
  .collapsible-body {
    li {
      a {
        padding: 0 23.5px 0 51px;
      }
    }
  }
  #searchBox {
    background-color: map-get(map-get($side-nav, logo), background-color);
    > input {
      margin: 0 0 10px 0;
      height: 2rem;
      width: 300px;
    }
    padding-left: 32px;
    padding-right: 32px;
    input {
      color: map-get($searchBox, color);
    }
    a {
      color: map-get($searchBox, color);
    }
    i {
      cursor: pointer;
    }
  }
  ul, li {
    background-color: map-get(map-get($side-nav, li), background-color);
  }
  li {
    a {
      @include noselect;
      color: map-get($side-nav, color);
      i {
        color: map-get($side-nav, color);
      }
    }
  }
}

.mobile-panel, .mobile-panel > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #263238;
  border-bottom-right-radius: 20px;
}