table.mdtable {
  &.striped {
    > thead {
      border-bottom-style: none;
    }
    > tbody {
      & {
        @extend .shadowed;
      }
      > tr {
        &:nth-child(odd) {
          //First row
          background-color: $mdtableFirstRowBackgroundColor;
        }
        & {
          //Standard row
          background-color: $mdtableRowBackgroundColor;
          > td {
            overflow-wrap: break-word;
            > .btn {
              color: $mdtableBtnFontColor;
              float: right;
              margin-right: 5%;
              background-color: $mdtableBtnBackgroundColor;
              &:hover {
                text-decoration: none;
                @extend .shadowed;
              }
            }
            > a {
              color: $white-darker-1;
              &:hover{
                color: #4ce8e8;
              }
            }
          }
        }
      }
    }
  }
}

.tags {
  justify-content: flex-end;
  align-items: center;
  float:right;
  text-align:right;
}