table.mdtable {
  &.striped {
    > thead {
      border-bottom-style: none;
    }
    > tbody {
      @extend .shadowed;
      > tr {
        &:nth-child(odd) {
          //First row
          background-color: $mdtableFirstRowBackgroundColor;
        }
        //Standard row
        background-color: $mdtableRowBackgroundColor;
        > td {
          overflow-wrap: break-word;
          word-break: break-all;
          width: 50%;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 10px;
          line-height: 95%;
          > .btn {
            color: $mdtableBtnFontColor;
            float: right;
            margin-right: 5%;
            background-color: $mdtableBtnBackgroundColor;
            &:hover {
              text-decoration: none;
              @extend .shadowed;
            }
          }
          > a {
            color: $white-darker-1;
            &:hover {
              color: #4ce8e8;
            }
          }
        }
      }

    }
  }
}

.tags {
  justify-content: flex-end;
  align-items: center;
  float: right;
  text-align: right;
  width: 100% !important;
  padding-left: unset;
}

.chip {
  margin-bottom: unset;
  margin-right: unset;
  margin-left: 5px;
}