table.mdtable {
  &.striped {
    >thead{
      border-bottom-style: none;
    }
    >tbody{
      &{
        @extend .shadowed;
      }
      >tr{
        &:nth-child(odd){
          //First row
          @include mint-darker-2($background);
        }
        &{
          //Standard row
          @include mint-darker-1($background);
          >td {
            overflow-wrap: break-word;
            >.btn{
              @include white-darker-1($font);
              &{
                float:right;
                margin-right: 5%;
                @include mint-lighter-1($background);
                @include white-darker-1($font);
              }
              &:hover{
                @include white-darker-1($font);
                text-decoration: none;
                @extend .shadowed;
              }
            }
            >a{
              &:hover{
                color:#3dcccc;
                text-decoration: underline;
              }
              &{
                @include mint-lighter-1($font);
              }
            }
          }
        }
      }
    }
  }
}