@import 'colors';
html {
  margin: 0;
  padding: 0;
}
.shadowed {
  box-shadow: 1px 2px 13px 0px #000000;
}
body {
  width:100%;
  height:100%;
  @include grey-lighter-1($background);
  @include white-darker-1($font);
}
.logo {
  position: absolute;
  height: 60px;
  float: left;
}
.nopadding {
  padding: 0 0 0 0!important;
}
.btn,.btn:hover {
  @include mint-lighter-1($background);
}
a {
  @include mint-lighter-1($font);
}
.center-in-div{
  display:flex;
  justify-content:center;
  align-items:center;
}
.fancyhr{
  border: none;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 90%;
  height: 5px;
  display: block;
  box-shadow: 1px 1px 2px #0e0e0e;
  @include mint-lighter-1($background);
  margin: 10px auto;
}
@media(max-width: 600px){
  .toast {
    position: fixed;
  }
}
.btn:focus {
  background-color: #4EBF99;
}
.mdwrapper{
  @include mint-darker-1($background);
}
@import 'mdtable';
@import 'mdcard';
@import 'mdpagination';
@import 'mdselect-wrapper';
@import 'login-panel';
@import 'mdinput';
@import 'searchBox';