.white-text {
  color: #F2F2F2; }

html {
  margin: 0;
  padding: 0; }

.shadowed, table.mdtable.striped > tbody, table.mdtable.striped > tbody > tr > td > .btn:hover {
  box-shadow: 1px 2px 13px 0px #000000; }

body {
  width: 100%;
  height: 100%;
  background-color: #757B7F;
  color: #F2F2F2; }

.logo {
  position: absolute;
  height: 60px;
  float: left; }

.nopadding {
  padding: 0 0 0 0 !important; }

.btn, .btn:hover {
  background-color: #38C999; }

a {
  color: #38C999; }

.center-in-div {
  display: flex;
  justify-content: center;
  align-items: center; }

.fancyhr {
  border: none;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 90%;
  height: 5px;
  display: block;
  box-shadow: 1px 1px 2px #0e0e0e;
  background-color: #38C999;
  margin: 10px auto; }

@media (max-width: 600px) {
  .toast {
    position: fixed; } }
.btn:focus {
  background-color: #4EBF99; }

.mdwrapper {
  background-color: #636666; }

table.mdtable.striped > thead {
  border-bottom-style: none; }
table.mdtable.striped > tbody > tr:nth-child(odd) {
  background-color: #4A4C4C; }
table.mdtable.striped > tbody > tr {
  background-color: #636666; }
  table.mdtable.striped > tbody > tr > td {
    overflow-wrap: break-word; }
    table.mdtable.striped > tbody > tr > td > .btn {
      color: #F2F2F2; }
      table.mdtable.striped > tbody > tr > td > .btn {
        float: right;
        margin-right: 5%;
        background-color: #38C999;
        color: #F2F2F2; }
      table.mdtable.striped > tbody > tr > td > .btn:hover {
        color: #F2F2F2;
        text-decoration: none; }
    table.mdtable.striped > tbody > tr > td > a:hover {
      color: #3dcccc;
      text-decoration: underline; }
    table.mdtable.striped > tbody > tr > td > a {
      color: #38C999; }

.mdcard {
  background-color: #636666; }
.mdcard > form > .row > .input-field.col.m12 {
  min-height: 66px;
  width: 90%; }
  .mdcard > form > .row > .input-field.col.m12 > input.btn {
    background-color: #38C999; }
.mdcard > .card-image {
  margin: 0 auto;
  width: 30vw;
  min-width: 300px;
  max-width: 500px; }
.mdcard [type="checkbox"].filled-in:checked + label:after {
  background-color: #38C999;
  border: #38C999; }

.pagination > li.active {
  background-color: #38C999; }
.pagination > li > a {
  color: #F2F2F2; }

.mdselect-wrapper > .select-wrapper > .caret {
  color: #F2F2F2; }
.mdselect-wrapper > .select-wrapper > .select-dropdown > li {
  background-color: #4A4C4C; }
  .mdselect-wrapper > .select-wrapper > .select-dropdown > li > span {
    color: #F2F2F2; }
.mdselect-wrapper > .select-wrapper > .select-dropdown {
  margin: 0 !important; }

.login-panel {
  margin: 50px auto 0 auto;
  padding: 15px;
  background-color: #636666;
  max-width: 600px; }
  @media (max-width: 600px) {
    .login-panel {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%; }
      .login-panel .col.s12.m6.center-in-div {
        margin-bottom: 15px; }
      .login-panel .row {
        margin-bottom: 0; }
      .login-panel .btn {
        width: 90%; } }
  @media (min-width: 600px) {
    .login-panel {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0; } }
  .login-panel > .image {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto; }
    .login-panel > .image img {
      width: 100%; }

[type="checkbox"]:checked + label::before {
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2; }

[type="checkbox"].filled-in:checked + label:after {
  background-color: #38C999;
  border: #38C999; }

input[type=password]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #38C999; }

input[type=password]:not(.browser-default):focus:not([readonly]) + label {
  color: #38C999; }

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: #38C999;
  box-shadow: 0 1px 0 0 #38C999; }

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #38C999; }

.input-field .prefix.active {
  color: #38C999; }

.input-field {
  height: 64px; }

.input-field .prefix ~ input {
  width: calc(100% - 6rem); }

#searchBox > input {
  margin: 0 0 10px 0;
  height: 2rem;
  width: 300px; }
@media (max-width: 600px) {
  #searchBox {
    margin: 0 auto; } }
@media (min-width: 600px) {
  #searchBox {
    margin-right: 50px; } }

/*# sourceMappingURL=css.css.map */
