@import 'colors';
html {
  margin: 0;
  padding: 0;
}
.shadowed {
  box-shadow: 1px 2px 13px 0px #000000;
}
body {
  width:100%;
  height:100%;
  @include grey-lighter-1($background);
  @include white-darker-1($font);
}
.logo {
  position: absolute;
  height: 60px;
  float: left;
}
.nopadding {
  padding: 0 0 0 0!important;
}
.input-field .prefix.active {
  @include mint-lighter-1($font);
}
input[type=password]:not(.browser-default):focus:not([readonly]){
  box-shadow:0 1px 0 0 #38C999;
}
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  @include mint-lighter-1($font);
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color:#38C999;
  box-shadow:0 1px 0 0 #38C999;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
  @include mint-lighter-1($font);
}
.input-field .prefix ~ input {
  width: calc(100% - 5rem);
}

.input-field {
  height:64px;
}
.btn,.btn:hover {
  @include mint-lighter-1($background);
}
[type="checkbox"]:checked + label::before {
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}
[type="checkbox"].filled-in:checked+label:after {
  $color: #38C999;
  background-color: $color;
  border: $color;
}
a {
  @include mint-lighter-1($font);
}
.center-in-div{
  display:flex;
  justify-content:center;
  align-items:center;
}
.fancyhr{
  border: none;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 90%;
  height: 5px;
  display: block;
  box-shadow: 1px 1px 2px #0e0e0e;
  @include mint-lighter-1($background);
  margin: 10px auto;
}
@media(max-width: 600px){
  .toast {
    position: fixed;
  }
}
@import 'mdtable';
@import 'mdcard';
@import 'mdwrapper';
@import 'mdpagination';
@import 'mdselect-wrapper';
@import 'login-panel';