<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col m6">
                <table class="m6 striped mdtable">
                    <thead>
                    <tr>
                        <th>page name</th>
                    </tr>
                    </thead>
                    <tbody class="shadowed">
                    <tr th:each="p: ${pages}">
                        <td>
                            <a th:text="${p.getName()}" th:href="@{/p/{stringId}(stringId=${p.stringId})}"></a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn"
                               th:href="@{/edit/{stringId}(stringId=${p.stringId})}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination mdpagination"><!-- TODO changing pages without changing another page -->
                    <li th:if="${pagesPage &lt;= 1}" class="disabled"><a><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li th:if="${pagesPage &gt; 1}" class="waves-effect"><a
                            th:href="'?pagesPage=' + ${pagesPage - 1}"><i
                            class="material-icons">chevron_left</i></a></li>
                    <li th:each="i : ${#numbers.sequence(1, pages.totalPages)}"
                        th:class="${i} eq ${pagesPage} ? ${'active'} : ${'waves-effect'}">
                        <a th:href="${'?pagesPage=' + i}" th:inline="text">[[${i}]]</a></li>
                    <li th:if="${pagesPage &gt;= pages.totalPages}" class="disabled"><a><i class="material-icons">chevron_right</i></a>
                    </li>
                    <li th:if="${pagesPage &lt; pages.totalPages}" class="waves-effect"><a
                            th:href="'?pagesPage=' + ${pagesPage+1}"><i
                            class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
            <div class="col m5 offset-m1 nopadding">
                <table class="row m12 striped mdtable">
                    <thead>
                    <tr>
                        <th>username</th>
                        <th>button</th>
                    </tr>
                    </thead>
                    <tbody class="shadowed">
                    <tr th:each="u: ${users}">
                        <td class="m7">
                            <span th:text="${u.getUsername()}"></span>
                        </td>
                        <td>
                            <a class="col m10 btn waves-effect waves-light"
                               href="">User</a>
                            <!--TODO Page for every user-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li th:if="${usersPage &lt;= 1}" class="disabled"><a><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li th:if="${usersPage &gt; 1}" class="waves-effect"><a
                            th:href="'?usersPage=' + ${usersPage - 1}"><i
                            class="material-icons">chevron_left</i></a></li>
                    <li th:each="i : ${#numbers.sequence(1, users.totalPages)}"
                        th:class="${i} eq ${usersPage} ? ${'active'} : ${'waves-effect'}">
                        <a th:href="${'?usersPage=' + i}" th:inline="text">[[${i}]]</a></li>
                    <li th:if="${usersPage &gt;= users.totalPages}" class="disabled"><a><i class="material-icons">chevron_right</i></a>
                    </li>
                    <li th:if="${usersPage &lt; users.totalPages}" class="waves-effect"><a
                            th:href="'?usersPage=' + ${usersPage+1}"><i
                            class="material-icons">chevron_right</i></a></li>
                </ul>
                <div class="row">
                    <div class="m10 col card mdcard ">
                        <form th:action="@{/admin/useradd}" method="post">
                            <div class="row">
                                <div class="input-field col m12">
                                    <input type="text" name="username"/>
                                    <label> Username </label>
                                </div>
                                <div class="input-field col m12">
                                    <input type="password" name="password"/>
                                    <label> Password </label>
                                </div>
                            </div>
                            <div class="row">
                                <input class="input-field btn col m10 offset-m1" type="submit" value="Create"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m6"></div>
        </div>
    </div>
</div>

</html>

