<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col m12">
                <form id="pageForm" method="post" th:object="${pageFormDTO}"
                      th:action="${page != null} ? @{/edit/update} : @{/edit/add}">
                    <input type="hidden" id="pageContent" th:field="*{content}"/>
                    <input type="hidden" id="code" name="code"
                           th:value="${page != null} ? ${page.code} : ${''}"/>
                    <div class="row">
                        <div class="col s12 m6">
                            <input placeholder="Page Title" type="text" id="title-input" data-length="128" name="title" maxlength="128" th:value="${page != null} ? ${page.title} : ${''}"/>
                        </div>
                        <div class="col s12 m6">
                            <div class="switch">
                                <label>
                                    <p>Public</p>
                                    <input type="checkbox"/>
                                    <span class="lever"></span>
                                    <p>Authorized</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="autocomplete" id="tags">
                                <div class="ac-input">
                                    <input placeholder="Tags" type="text" id="tagsInput"
                                           data-activates="tagsMultipleDropdown"
                                           data-beloworigin="true" autocomplete="off"/>
                                    <input type="hidden" class="validate" name="tags" id="hiddenTags"
                                           th:field="*{tags}"/>
                                </div>
                                <ul id="tagsMultipleDropdown" class="dropdown-content ac-dropdown"></ul>
                                <div class="ac-tags">
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="autocomplete" id="users">
                                <div class="ac-input">
                                    <input placeholder="Authorized users" type="text" id="usersInput"
                                           data-activates="usersMultipleDropdown"
                                           data-beloworigin="true" autocomplete="off"/>
                                    <input type="hidden" class="validate" name="users" id="hiddenUsers"
                                           th:field="*{users}"/>
                                </div>
                                <ul id="usersMultipleDropdown" class="dropdown-content ac-dropdown"></ul>
                                <div class="ac-users">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" name="action" type="submit" style="padding: 0 1rem; float:right;">Save<i class="material-icons right">save</i></button>
                    <div class="row">
                        <div class="tabs-vertical">
                            <ul id="tabs-swipe-demo" class="tabs">
                                <li class="tab col s3"><a href="#editor-container">Editor</a></li>
                                <li class="tab col s3"><a href="#page-review">Preview</a></li>
                            </ul>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $('ul.tabs').tabs();
                            });
                            $(document).ready(function(){
                                $('ul.tabs').tabs('select_tab', 'editor-container');
                            });
                        </script>
                        <div id="editor-container" class="col s12">
                            <div class="" id="editor" th:text="${page != null} ? ${page.content} : ''"></div>
                        </div>
                        <div id="page-review" class="col s12">
                            <div id="preview"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/showdown.min.js"></script>
    <script src="/js/showdownExtensions.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/jquery.materialize-autocomplete.min.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script src="/js/editor.js"></script>
    <script th:inline="javascript">

        var editor = ace.edit("editor");
        editor.setOptions({
            maxLines: Infinity,
            minLines: 32,    //TODO: This is arbitrary number
            wrap: true
        });
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/markdown");
        editor.on('change', update);

        function update() {
            var converter = new showdown.Converter({extensions: ['audio']});
            converter.setOption('tasklists', true);
            converter.setOption('ghCodeBlocks', true);
            converter.setOption('tables', true);
            converter.setOption('simpleLineBreaks', true);
            var text = editor.getValue();
            var html = converter.makeHtml(text);
            document.getElementById("preview").innerHTML = html;
            document.getElementById("pageContent").value = text;
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        }

        var pageTags = [[${page != null} ? ${@tagService.getPageTags(page.getCode())} : ${null}]];
        var users = [[${page != null} ? ${@userService.getPageMaintainers(page)} : ${null}]];

        $(document).ready(function () {
            setupForm(pageTags, users)
        });

        setTimeout(update, 500);
    </script>

</div>
</html>
