<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            Rowrowrowrowrowrowrowrowrow
        </div>
        <div class="row">
            <textarea id="editor" rows="10" cols="80"></textarea>
        </div>
    </div>
    <script src="js/cke/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
</div>
</html>
