<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Editor</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <script src="/js/showdown.min.js"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</head>
<style>
    #editor {
        position: relative;
        height: 80vh;
    }


</style>
<body>
<div class="row">
    <div class="col s6">
        <form method="post" action="/add">
            <div class="row input-field">
                <div class="col m9">
                    <input name="name"/>
                </div>
                <div class="col m3">
                    <input class="waves-effect waves-light btn" value="save" type="submit"/>
                </div>
            </div>
            <div class="row">
                <div class="col m12" id="editor">fdsafdsa</div>
            </div>
            <input type="hidden" id="contentValue" name="mdPage"/>
        </form>
    </div>
    <div class="col s6" id="preview"></div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/ace/ace.js"></script>
<script th:inline="javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/markdown");
    editor.on('change', function(e) {
        var converter = new showdown.Converter();
        converter.setOption('tasklists', true);
        converter.setOption('ghCodeBlocks', true);
        var text      = editor.getValue();
        var html      = converter.makeHtml(text);
        document.getElementById("preview").innerHTML = html;
        document.getElementById("contentValue").value = text;
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });


</script>
</body>
</html>