<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col m8">
                <ul th:each="p: ${pages}">
                    <li class="row">
                        <a class="col m8" th:text="${p.getName()}" th:href="${'p/' + p.stringId}"></a>
                        <a class="col m2 btn tooltipped" th:href="'/edit/' + ${p.stringId}"
                           th:attr="data-tooltip='Last edited: ' + ${p.lastEdited}"
                           th:if="${user != null and user.canEdit(p)}">Edit</a>
                    </li>
                </ul>
            </div>
            <div class=" hide-on-small-only col m4">
                <form method="POST" th:action="@{/search}" th:object="${searchdto}">
                    <div class="row input-field">
                        <input type="text" name="name"/>
                        <label>name</label>
                    </div>
                    <div class="row input-field">
                        <input type="text" name="tags"/>
                        <label>Tags</label>
                    </div>
                    <div class="row">
                        <input class="btn" type="submit" value="Search"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>

