<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${page_title != null} ? ${page_title} : 'md pages'"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/css.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
</head>
<body class="center-in-div">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>

    <div class="login-panel">
        <div class="image">
            <a href="/">
                <img src="/img/logo.png"/>
            </a>
        </div>
        <div class="fancyhr"/>
        <div class="content">
            <form method="post">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" name="username"/>
                        <label for="icon_prefix" class="">Username</label>
                    </div>
                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix">lock</i>
                        <input id="icon_password" type="password" class="validate" name="password"/>
                        <label for="icon_prefix">Password</label>
                    </div>
                    <div class="col s12 m12">
                        <div class="row">
                            <div class="col s12 m6 center-in-div" style="height: 36px;">
                                <p style="margin: 0;">
                                    <input type="checkbox" class="filled-in" id="remember-me" name="remember-me" checked="checked"/>
                                    <label class="white-text" for="remember-me">Remember me</label>
                                </p>
                            </div>
                            <div class="col s12 m6 center-in-div">
                                <i class="waves-effect waves-light btn waves-input-wrapper">
                                    <input class="waves-button-input" type="submit" value="Zaloguj"/>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>

    <div th:if="${param.error}">
        <script>
            Materialize.toast('Invalid username or password.', 40000000)
        </script>
    </div>
    <div th:if="${param.logout}">
        <script>
            Materialize.toast('You have been logged out.', 4000)
        </script>
    </div>
    </body>
</html>