<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>md pages | login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="center center-align">

    <div class="row">
        <div class="col s4 offset-s4">
            <div class="card">
                <div class="card-image background blue">
                    <img src="favicon.ico" style="width: 250px; margin: 0 auto; padding: 10px"/>
                </div>
                <div class="card-content">
                    <form method="post">
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='username' id='username'/>
                                <label for='username'>Enter your username</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password'/>
                                <label for='password'>Enter your password</label>
                            </div>
                            <label style='float: right;'>
                                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                            </label>
                        </div>

                        <div class="row">
                            <p class="col s12">
                                <input type="checkbox" id="remember-me" name="remember-me"/>
                                <label for="remember-me">Remember me</label>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect'>
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
</body>
</html>