<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>md pages | login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/css.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="center-in-div">
<div class="row">
    <div class="m12 col card mdcard ">
        <div class="card-image">
            <a href="/">
                <img src="/img/mdp.png" style="margin: 0 auto; padding: 10px"/>
            </a>
        </div>
        <hr class="fancyhr"/>
        <form method="post">
            <div class="row">
                <div class="input-field col m12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" name="username"/>
                    <label for="icon_prefix" class="">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m12">
                    <i class="material-icons prefix">lock</i>
                    <input id="icon_password" type="password" class="validate" name="password"/>
                    <label for="icon_prefix">Password</label>
                </div>
            </div>
            <div class="row center-in-div">
                <i class="waves-effect waves-light btn waves-input-wrapper" style="">
                    <input class="waves-button-input" type="submit" value="Zaloguj"/>
                </i>
            </div>
            <input type="hidden" name="_csrf" value="3499bd8a-c75a-4086-b031-410958e909d5"/>
        </form>
    </div>
</div>
<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
</body>
</html>