<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <h1 class="row m12" th:text="${page.name}"></h1>
        <div class="row">
            <div class="chip" th:each="tag : ${page.tags}" th:inline="text">[[${tag.name}]]</div>
        </div>
        <div class="row">
            <div class="col m4">
                <div><span class="grey-text" th:inline="text">Created: [[${page.formattedCreationDate}]]</span></div>
                <div><span class="grey-text" th:inline="text">Edited: [[${page.formattedLastEditedDate}]]</span></div>
            </div>
            <a class="col m1 btn" th:href="'/edit/' + ${page.stringId}"
               th:if="${user != null and @editService.canEdit(user, page)}">Edit</a>
        </div>
        <div class="row">
            <div id="content"></div>
        </div>
    </div>

    <script src="/js/showdown.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script th:inline="javascript">
        var converter = new showdown.Converter();
        converter.setOption('tasklists', true);
        converter.setOption('ghCodeBlocks', true);
        converter.setOption('tables', true);
        converter.setOption('simpleLineBreaks', true);
        var text = [[${page.content}]];
        var html      = converter.makeHtml(text);
        document.getElementById("content").innerHTML = html;
        hljs.initHighlightingOnLoad();
    </script>
</div>
</html>
