<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<div layout:fragment="content">
    <div class="container">
        <p th:if="${pageCount==0}">No results found.</p>
        <div th:if="${pageCount>0}">
            <table class="m6 striped mdtable">
                <thead>
                <tr>
                    <th>page name</th>
                </tr>
                </thead>
                <tbody class="shadowed" id="results">
                </tbody>
            </table>
            <ul class="pagination" id="pagination">
                <li th:if="${pageCount &lt;= 1}" class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                <li th:if="${pageCount &gt; 1}" class="wave-effect"><a onclick="moveLeft()">
                    <i class="material-icons">chevron_left</i></a></li>
                <li th:each="i : ${#numbers.sequence(1, pageCount)}"
                    th:class="${i} eq ${1} ? ${'active'} : ${'waves-effect'}"
                    th:name="e+${i}">
                    <a th:attr="onclick=${'moveToPage('}+${i}+${')'}" th:inline="text">[[${i}]]</a>
                </li>
                <li th:if="${pageCount &lt;= 1}" class="disabled"><a><i
                        class="material-icons">chevron_right</i></a>
                </li>
                <li th:if="${pageCount &gt; 1}" class="waves-effect"><a
                        onclick="moveRight()"><i
                        class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <script src="/js/pageList.js"></script>
        <script th:inline="javascript">
            setup('/search/tag/data?tag=', 'tag')
        </script>
    </div>
</div>

</html>