<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">

<main layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 center-in-div">
                <a href="/files/upload" class="btn">Upload</a>
            </div>
            <div class="col s12 m12">
                <table class="striped mdtable">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th>size</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f : ${files}">
                        <td>
                            <a th:text="${f.getName()}" th:href="@{/files/{code}(code=${f.getCode()})}"></a>
                        </td>
                        <td th:text="${f.getFormattedSize()}"></td>
                        <td>
                            <a class="btn" th:href="@{/files/update(code=${f.getCode()})}"
                               th:text="Update"
                               th:if="${@permissionService.canUpdateFile(#httpServletRequest.getRemoteUser(), f)}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</html>

