@import '../../style/variables';

.navigation {
  width: map_get($navigation, "width");
  background: #c1d72e;
  height: 100%;
  position: fixed;

  .logo {
    background-color: red;
    width: map_get($navigation, "width")/2;
    height: map_get($navigation, "width")/2;
    margin: map_get($navigation, "logo-margin-top") auto map_get($navigation, "logo-margin-top") auto;
  }

  .search {
    display: flex;
    justify-content: center;
    width: 100%;

    input[type="text"] {
      width: 90%;
    }

    input[type="submit"].hidden {
      display: none;
    }
  }
}
