@import '../../style/variables';
@import '../../style/colors';

.navigation {
  width: map_get($navigation, "width");
  background: map-get($page-preference-colors, "main-1");
  color: map-get($page-preference-colors, "font-1");
  height: 100%;
  position: fixed;
  z-index: 1;

  .logo {
    margin: map_get($navigation, "logo-margin-top") auto map_get($navigation, "logo-margin-top") auto;
  }

  @import './search/style';
  @import './mobile-button/style';
}
